.ChannelDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  box-shadow: -15px 15px 0px black;
  margin: 20px;
}

.ChannelDetailsContainer:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
  box-shadow: -15px 15px 0px turquoise;
}

.Channel-Description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.Channel-Stream {
  font-size: 14px;
  margin-right: 10px;
}

.Channel-Title {
  padding-bottom: 5px;
}

.offline {
  font-style: italic;
}

.Channel-Logo {
  height: 80px;
  width: 80px;
  margin: 0 10px 0 10px;
}

@media (max-width: 700px) {
  .Channel-Title {
    font-size: 1em;
  }

  .Channel-Stream {
    font-size: .8em;
  }
}
